# Kickstart file for VirtualBox CentOS 6.5

# install os instead of upgrade
install

# use dvd installation media
cdrom

# run anaconda in real text-mode
cmdline

# system language/keyboard
lang en_US.UTF-8
keyboard us

# system time zone -- uncomment a single time zone
# timezone --utc America/Los_Angeles
# timezone --utc America/Denver
# timezone --utc America/Chicago
# timezone --utc America/New_York
# timezone --utc US/Pacific
# timezone --utc US/Mountain
timezone --utc US/Central
# timezone --utc US/Eastern

# user setup
rootpw  --iscrypted $6$gRYH4.tGmS5qjPGG$PCw5x6zCoOj0uUvVhBdkGPaODDxnqXTIeHQpmhDvgQ5ccelDDACgXnDuswIOV9S5aWoG.O/LQPSZPZU7oF9FK.
authconfig --enableshadow --passalgo=sha512
user --name=vagrant --groups=vagrant --password=vagrant

# disk initialization/partitioning
clearpart --all --drives=sda
zerombr yes                   # required to initialize drive
ignoredisk --only-use=sda     # limit initialization to this drive only
partition /boot --fstype=ext4 --size=500
partition pv.008002 --grow --size=1
volgroup VolGroup00 --pesize=4096 pv.008002
logvol /home --fstype=ext4 --name=lv_home --vgname=VolGroup00 --grow --size=100
logvol / --fstype=ext4 --name=lv_root --vgname=VolGroup00 --grow --size=1024 --maxsize=51200
logvol swap --name=lv_swap --vgname=VolGroup00 --grow --size=2016 --maxsize=2016

# network / selinux configuration
network --onboot yes --device eth0 --bootproto dhcp --noipv6
firewall --service=ssh
selinux --permissive

# system bootloader configuration
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

# reboot after installation and attempt to eject installation DVD
reboot --eject

# software packages to install (packages preceded with @ are yum packages)
%packages --nobase
@core
%end

# execute after installation completes
%post --log=/root/kickstart-post-configuration.log

echo
echo "################################"
echo "# Running Post Configuration   #"
echo "################################"
# exclude kernel updates from yum updates (will break virtual machine)
echo "exclude=kernel*" >> /etc/yum.conf

# install/update the system
echo
echo "Installing/updating system packages"
yum -y update
echo "System packages installed/updated"

# configure sudoers
echo
echo "Configuring sudoers"
echo -e "vagrant\tALL=(ALL)\tNOPASSWD: ALL" >> /etc/sudoers.d/vagrant
echo "Sudoers configured"

# configure hostname
echo
echo "Configuring HOSTNAME"
HOSTNAME=centos-65-minimal
sed -i -r -e "s/^(HOSTNAME=)localhost\.localdomain/\1$HOSTNAME/" /etc/sysconfig/network
echo "HOSTNAME configured"

# configure ssh
echo
echo "Configuring SSH"
sed -i -r -e 's/^#(UseDNS\s)yes/\1no/' /etc/ssh/sshd_config
echo "SSH configured"

# install chef client
echo
echo "Installing the Chef Client"
\curl -L https://www.opscode.com/chef/install.sh | bash
echo "Chef Client installed"

echo
echo "CentOS kickstart post-configuration complete"
